.Header{
    height:140px;
    border-bottom: 1px  white;
    display: flex;
    font-style: bold;
    justify-content: center;
    flex-direction: column;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.container {
    width: 200px;
    height: 120px;
    display: flex;
    align-self: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: auto;
    animation:2s Logo-appear;
}
.Links{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center; 
}
.Link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    position: relative;
    top: 15px;
}

@keyframes Logo-appear {
    0% {
      opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
  }